
.navbar{
    padding-left:15em;
    padding-right: 15em;
}
.container{
    padding-right: 7em;
    padding-left: 15em;
    margin-left: 0em;
    margin-right: 0em;
}
.home{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f1f1f1 ;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 3em;
    border-radius: 5px;
}
.card{
    
    margin: 5px;
}
.nav{
    padding-top: 2em;
    margin-top: 10px;
    padding-bottom: 2em;
}
.Footer{
    color: #faf2f2;
}
